body {
    padding-top: 50px;
    font-family: 'Nunito Sans', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Navbar */
.navbar {
    background: #222;
}

    .navbar .navbar-nav {
        background: none;
    }

        .navbar .navbar-nav li {
            height: 100%;
        }

        .navbar .navbar-nav a {
            vertical-align: middle;
            text-transform: uppercase;
        }


@media (min-width: 768px) {
    body {
        padding-top: 60px;
    }

    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }

    .navbar .navbar-nav a {
        line-height: 30px;
    }
}

.navbar .navbar-nav a.logo-menu {
    padding: 10px 20px;
}

    .navbar .navbar-nav a.logo-menu img {
        width: 36px;
        height: 40px;
    }

.navbar .navbar-collapse {
    text-align: center;
}

button.garvan-button {
    background: #222;
    border: 1px solid #222;
    color: #ddd;
    text-transform: uppercase;
    height: 40px;
    min-width: 130px;
    font-size: 13px;
    font-weight: 100;
    vertical-align: top;
    box-shadow: 0px 9px 30px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 9px 30px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 9px 30px 2px rgba(0,0,0,0.4);
    -o-box-shadow: 0px 9px 30px 2px rgba(0,0,0,0.4);
}

    button.garvan-button:hover {
        background: #262626;
        cursor: pointer;
    }

    button.garvan-button:disabled {
        background: #555;
    }

    button.garvan-button.sub-button {
        background: rgba(0, 0, 0, 0);
        color: black;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
    }


input, textarea {
    border: 1px solid #ddd;
    height: 35px;
    padding: 0 5px;
    width: 100%;
}

textarea {
    resize: none;
}

/* Footer */

footer {
    background: #222 !important;
    color: #fff;
}

    footer hr {
        border-color: #666;
        margin: 10px 0;
    }

    footer ul {
        list-style-type: none;
        padding-left: 0px;
    }

    footer li {
        padding: 5px 0;
        font-size: 12px;
    }

        footer li a, footer li a:active, footer li a:visited, footer li a:hover {
            color: #fff;
            text-decoration: none;
        }

            footer li a:hover {
                color: gray;
            }

    footer .footer-wrapper {
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }

    footer .footer-copyrights-wrapper {
        text-align: center;
        padding-bottom: 10px;
    }

    footer .footer-copyrights-wrapper, footer hr {
        color: #666;
    }

    footer a.fa {
        padding: 0 5px;
    }

/* Headers */
h4.sub-header {
    color: #17a297;
}

a.inside-link {
    color: #17a297;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
}

    a.inside-link:visited {
        color: #17a297;
        text-decoration: underline;
    }

div.partial-div {
    margin-bottom: 5px;
    margin-top: 5px;
    background: #f9f9f9;
}

    div.partial-div h2, div.partial-div h3 {
        font-weight: bold;
    }


#garvan-entertainment-div {
    background-color: #e3e3e3;
    height: 500px;
}

@media(min-width: 968px) {
    #garvan-entertainment-div {
        display: flex;
        align-items: center;
    }
}

@media(max-width: 968px) {
    #garvan-entertainment-div img {
        margin: 35px 0;
    }
}

#garvan-entertainment-div img {
    height: 80%;
    width: 100%;
    max-width: 700px;
}

#garvan-entertainment-div .info-text-div {
    z-index: 100;
}

    #garvan-entertainment-div .info-text-div div {
        float: right;
    }

    #garvan-entertainment-div .info-text-div h2 {
        font-size: 42px;
        padding-top: 0px;
    }

    #garvan-entertainment-div .info-text-div p {
        font-size: 20px;
    }

    #garvan-entertainment-div .info-text-div button {
        margin-top: 20px;
        height: 50px;
        width: 162px;
    }


#garvan-entertainment-div div, #garvan-entertainment-div p, #garvan-entertainment-div h2 {
    padding: 0 5px;
}

#garvan-entertainment-div #garvan-entertainment-text > div {
    float: right;
    text-align: left;
}

#garvan-entertainment-div #garvan-entertainment-text h2 {
    margin-bottom: 0px;
}

#garvan-entertainment-div #garvan-entertainment-text p {
    margin-bottom: 20px;
}

#garvan-entertainment-div #garvan-entertainment-img img {
    max-width: 100%;
    max-height: 100%;
    height: inherit !important;
}



#cable-monster-div, #specifications-div {
    width: 100%;
}

#cable-monster-div {
    min-height: 500px;
}

    #cable-monster-div .img-container, #specifications-div .img-container {
        background: #222;
    }

.table-wrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

    .table-wrapper td {
        vertical-align: middle;
        text-align: center;
    }

#cable-monster-div .img-container img,
#specifications-div .img-container img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    vertical-align: middle;
    width: 100%;
    max-width: 700px;
}

#cable-monster-div .text-container, #specifications-div .text-container {
    background: #f9f9f9;
}

#cable-monster-div .img-container img.desk-front-img {
    z-index: 1;
}

#cable-monster-div .img-container img.logo-img {
    z-index: 2;
    height: 50px;
    width: 46px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: auto;
    top: auto;
    transform: none;
    margin-right: 15px;
    margin-bottom: 15px;
}

#cable-monster-div .text-container {
    padding: 15px 40px;
}

    #cable-monster-div .text-container p {
        padding: 10px 0;
        z-index: 100;
    }

    #cable-monster-div .text-container img.bird-img {
        height: 200px;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

#specifications-div .text-container {
    padding-right: 40px;
}

    #specifications-div .text-container h3, #specifications-div .text-container h4 {
        padding-left: 25px;
    }




    #specifications-div .text-container .more-details-wrapper {
        padding: 10px 0;
        text-align: right;
    }

@media(min-width: 968px) {
    #cable-monster-div, #specifications-div {
        display: flex;
    }
}

@media(max-width: 968px) {
    #cable-monster-div .text-container {
        min-height: 500px;
    }

    #specifications-div .text-container {
        padding: 15px 0;
    }
}

#subscribe-div {
    position: relative;
    background: #17a297;
    padding: 20px 0;
    text-align: center;
    color: white;
    background-image: url('../images/garvan_logos/background_logo.png');
    margin-bottom: 0;
}

    #subscribe-div h3 {
        margin-top: 0px;
    }

    #subscribe-div .subscribe-input-wrapper {
        margin-top: 15px;
    }

        #subscribe-div .subscribe-input-wrapper input {
            color: black;
            width: 300px;
            height: 40px;
            border: 0;
        }

        #subscribe-div .subscribe-input-wrapper button.garvan-button {
            margin-left: -4px;
        }

        #subscribe-div .subscribe-input-wrapper input,
        #subscribe-div .subscribe-input-wrapper button.garvan-button {
            height: 40px;
        }

    #subscribe-div button.garvan-button {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
    }

@media(max-width: 768px) {
    #subscribe-div .subscribe-input-wrapper button.garvan-button {
        width: 90%;
        margin: 5px 0;
    }

    #subscribe-div .subscribe-input-wrapper input {
        width: 90%;
    }
}

#distributors-div {
    text-align: center;
    padding: 50px 0;
    background-color: white;
}

    #distributors-div h4 {
        margin-bottom: 40px;
    }

        #distributors-div h4 a {
            text-transform: none;
        }

    #distributors-div #distributors-wrapper {
        min-height: 200px;
        margin: 0 auto;
        width: 60%;
    }


        #distributors-div #distributors-wrapper .distributor-logo-div {
            height: 150px;
            padding: 20px;
        }

            #distributors-div #distributors-wrapper .distributor-logo-div img {
                max-height: 50%;
                max-width: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }

/* Contacts */
@media (min-width: 768px) {
    #contacts-div .contacts-row {
        padding: 10px 0;
    }
}

#contacts-div {
    float: none;
    padding-top: 30px;
}

    #contacts-div .loading-wrapper {
        background: rgba(255, 255, 255, 0.5);
        color: #17a297;
    }

    #contacts-div h2 {
        font-weight: bold;
    }

    #contacts-div button.garvan-button[type=submit] {
        height: 45px;
        width: 160px;
    }

    #contacts-div #contacts-info-div {
        text-align: center;
    }

        #contacts-div #contacts-info-div table#contacts-info-links-table {
            margin: 0 auto;
            text-align: left;
            margin-bottom: 50px;
        }

            #contacts-div #contacts-info-div table#contacts-info-links-table td {
                padding: 5px 0;
            }

        #contacts-div #contacts-info-div .contacts-info-email-a a,
        #contacts-div #contacts-info-div .contacts-info-email-a a:visited {
            color: #24a79d;
        }

        #contacts-div #contacts-info-div .contacts-info-phone-a a,
        #contacts-div #contacts-info-div .contacts-info-phone-a a:visited {
            color: black;
        }

        #contacts-div #contacts-info-div .contacts-info-email-a,
        #contacts-div #contacts-info-div .contacts-info-phone-a {
            font-size: 20px;
        }


            #contacts-div #contacts-info-div .contacts-info-email-a i,
            #contacts-div #contacts-info-div .contacts-info-phone-a i {
                color: #24a79d;
                font-size: 30px;
                vertical-align: bottom;
                margin-right: 10px;
            }

    #contacts-div #contacts-bird-img {
        margin-bottom: -1px;
    }

#contacts-subscribe-div #subscribe-div {
    margin-top: 0;
}

.input-wrapper {
}

    .input-wrapper .input-label {
        display: block;
        padding-bottom: 5px;
    }

    .input-wrapper #message-input {
        height: 200px;
        width: 100%;
    }

img.shine-img {
    height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    position: absolute !important;
    left: 0;
    top: 0;
}

div#story-div {
    background: #1d1d1d;
    display: block;
    width: 0 auto;
    color: white;
    margin: 0 auto;
    margin-top: 5px;
}

#story-div #current-story-image-wrapper img {
    height: 320px;
}

#story-div #story-wrapper {
    padding: 35px 0;
}

#story-div #story-wrapper,
#story-div #chapters-inner-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

#story-div h2 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 0;
}

.story-text-wrapper p, .story-text-wrapper a {
    padding: 10px 15px;
}

.story-text-wrapper h4 {
    font-size: 20px;
}

span.capitalized-letter {
    float: left;
    font-family: Georgia;
    font-size: 45px;
    line-height: 30px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

#story-div #chapters-outer-wrapper {
    background: white;
    color: black;
    padding: 30px 0;
}

    #story-div #chapters-outer-wrapper .chapter-div {
        padding: 50px 0;
    }

#story-div #chapters-links-wrapper {
    padding: 20px;
    padding-top: 50px;
}

    #story-div #chapters-links-wrapper .chapter-link,
    #story-div #chapters-links-wrapper .chapter-link:active,
    #story-div #chapters-links-wrapper .chapter-link:visited {
        display: block;
        margin: 5px 0;
        color: #8bd1cb;
        text-decoration: none;
    }

        #story-div #chapters-links-wrapper .chapter-link.selected-chapter {
            font-weight: bold;
            color: #17a297;
        }

    #story-div #chapters-links-wrapper .disabled,
    #story-div #chapters-links-wrapper .disabled:active,
    #story-div #chapters-links-wrapper .disabled:visited {
        color: #777;
        margin: 5px 0;
        cursor: default;
    }

        #story-div #chapters-links-wrapper .disabled:hover {
            cursor: default;
        }

/* Loading gif */
.loading-wrapper, .error-wrapper,
.loading-wrapper, .info-wrapper {
    position: absolute;
    background-color: rgba(200,50,50, 0.9);
    color: #ccc;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loading-wrapper, .info-wrapper {
    background-color: rgba(23, 162, 151, 0.9);
    color: #97f2e7;
}

    .error-wrapper .error-close-button, .info-wrapper .info-close-button {
        background: none;
        float: right;
        border: 0;
        font-size: 20px;
    }

        .error-wrapper .error-close-button:hover {
            color: #B8000C;
        }

        .info-wrapper .info-close-button:hover {
            color: #a7f2e7;
        }

    .error-wrapper .error-message-wrapper,
    .info-wrapper .info-message-wrapper {
        font-size: 20px;
        font-weight: lighter;
        vertical-align: middle;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

.loading-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center; /*handles the horizontal centering*/
}

    .loading-wrapper .Centerer {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .loading-wrapper img {
        display: inline-block;
        vertical-align: middle;
        max-height: 150px;
    }


.Centered {
}

/* About us */
#about-div {
    background: white;
    padding: 0;
    margin: 0;
    padding-top: 30px;
    min-height: 500px;
    display: table;
}

#about-div-wrapper {
    padding: 30px 0;
}

    #about-div-wrapper h1 {
        font-weight: bold;
    }

    #about-div-wrapper h1,
    #about-div-wrapper h3 {
        margin: 0;
    }

@media (max-width: 768px) {
    #about-div-wrapper {
        padding: 50px 15px;
    }

    #about-div [class*="col-"] {
        float: left;
        display: block;
    }
}

@media (max-width: 1000px) {
    #about-div #hand-cable-img {
        display: none;
    }
}

#about-div-wrapper #about-info-wrapper {
    padding: 0 30px;
    padding-top: 30px;
}

    #about-div-wrapper #about-info-wrapper div {
        padding-bottom: 30px;
    }

        #about-div-wrapper #about-info-wrapper div#your-world-wrapper {
            font-size: 20px;
        }

#about-page #subscribe-div {
    margin-top: 0;
}


#about-div #hand-cable-img {
    position: absolute;
    bottom: 0;
    width: 96%;
}

#about-div [class*="col-"] {
    float: none;
    display: table-cell;
}

#error-page-wrapper {
    padding: 35px;
}

    #error-page-wrapper h1 {
        font-size: 45px;
        font-weight: bold;
        text-transform: uppercase;
        color: #17a297;
    }

/* Specifications table */
table.specifications-table {
    margin-top: 35px;
}

    table.specifications-table th {
        text-align: right;
        vertical-align: top;
        padding-right: 15px;
        font-weight: bold;
        width: 40%;
    }

    table.specifications-table td {
        text-align: left;
        vertical-align: top;
        padding-bottom: 10px;
    }

/* Page headers */
.garvan-page-main-header {
    font-weight: bold;
}

.garvan-page-sub-header {
}

@media (min-width: 768px) {
    .centered-div {
        max-width: 1100px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .centered-div {
        padding: 0 20px;
    }

        .centered-div .separate-control {
            padding-top: 10px;
            padding-bottom: 10px;
        }
}

#desk-details-div {
    margin-bottom: 70px;
    margin-top: 60px;
}

    #desk-details-div .garvan-page-sub-header {
        font-weight: bold;
    }

    #desk-details-div .desk-details-info-paragraph {
        font-size: 18px;
    }

    #desk-details-div #desk-details-button-wrapper {
        text-align: center;
    }

        #desk-details-div #desk-details-button-wrapper button {
            margin: 0 7px;
            margin-top: 30px;
            width: 170px;
        }


    #desk-details-div #main-image-wrapper {
        position: relative;
        height: 300px;
    }

    #desk-details-div #main-image {
        max-width: 100%;
        max-height: 100%;
        border: 1px solid #ccc;
        max-height: 300px;
    }

        #desk-details-div #main-image:hover {
            cursor: crosshair;
        }

    #desk-details-div #images-picker {
        padding: 30px 0;
    }

        #desk-details-div #images-picker .image-picker-wrapper {
            border: 1px solid #ccc;
            height: 120px;
            margin: 0 5px;
        }

            #desk-details-div #images-picker .image-picker-wrapper:hover {
                cursor: pointer;
                border: 1px solid #aaa;
            }

            #desk-details-div #images-picker .image-picker-wrapper img {
                width: 100%;
            }

    #desk-details-div #desk-details-overlay-image {
        width: 100%;
        height: 300px;
        position: absolute;
        background-color: white;
        display: inline-block;
        background-image: url('../images/pictures/desk_top_cut.jpg');
        background-repeat: no-repeat;
    }

    #desk-details-div #main-image-wrapper #zoom-image-button {
        z-index: 2;
        height: 50px;
        width: 46px;
        position: absolute;
        right: 0;
        bottom: 0;
        background: #39a8a0;
        border: none;
        color: white;
        text-align: center;
    }

        #desk-details-div #main-image-wrapper #zoom-image-button:active {
            border: none;
        }

        #desk-details-div #main-image-wrapper #zoom-image-button:hover {
            cursor: pointer;
        }

        #desk-details-div #main-image-wrapper #zoom-image-button i {
            line-height: 50px;
        }


        #desk-details-div #main-image-wrapper #zoom-image-button:hover i {
            color: #eee;
        }


#accessories-div {
    margin-bottom: 70px;
    margin-top: 60px;
}

    #accessories-div .garvan-page-sub-header {
        font-weight: bold;
    }

    #accessories-div .accessories-info-paragraph {
        font-size: 18px;
    }

    #accessories-div #accessories-button-wrapper {
        text-align: center;
    }

        #accessories-div #accessories-button-wrapper button {
            margin: 0 7px;
            margin-top: 30px;
            width: 170px;
        }


    #accessories-div #main-image-wrapper {
        position: relative;
        height: 300px;
    }

    #accessories-div #main-image {
        max-width: 100%;
        max-height: 100%;
        border: 1px solid #ccc;
        max-height: 300px;
    }

        #accessories-div #main-image:hover {
            cursor: crosshair;
        }

    #accessories-div #images-picker {
        padding: 30px 0;
    }

        #accessories-div #images-picker .image-picker-wrapper {
            border: 1px solid #ccc;
            height: 120px;
            margin: 0 5px;
        }

            #accessories-div #images-picker .image-picker-wrapper:hover {
                cursor: pointer;
                border: 1px solid #aaa;
            }

            #accessories-div #images-picker .image-picker-wrapper img {
                width: 100%;
            }

    #accessories-div #accessories-overlay-image {
        width: 100%;
        height: 300px;
        position: absolute;
        background-color: white;
        display: inline-block;
        background-image: url('../images/pictures/pad_3.jpg');
        background-repeat: no-repeat;
    }

    #accessories-div #main-image-wrapper #zoom-image-button {
        z-index: 2;
        height: 50px;
        width: 46px;
        position: absolute;
        right: 0;
        bottom: 0;
        background: #39a8a0;
        border: none;
        color: white;
        text-align: center;
    }

        #accessories-div #main-image-wrapper #zoom-image-button:active {
            border: none;
        }

        #accessories-div #main-image-wrapper #zoom-image-button:hover {
            cursor: pointer;
        }

        #accessories-div #main-image-wrapper #zoom-image-button i {
            line-height: 50px;
        }


        #accessories-div #main-image-wrapper #zoom-image-button:hover i {
            color: #eee;
        }

#outer-zoomed-image-wrapper {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

    #outer-zoomed-image-wrapper img {
        margin: auto;
        display: block;
        max-width: 80%;
        max-height: 90%;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
#outer-zoomed-image-wrapper .close-button {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
}

    #outer-zoomed-image-wrapper .close-button:hover,
    #outer-zoomed-image-wrapper .close-button:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

@media(min-width: 992px) {
    #desk-details-div #images-picker .image-picker-wrapper img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100%;
    }

    #accessories-div #images-picker .image-picker-wrapper img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100%;
    }
}

@media(max-width: 992px) {
    #desk-details-div #images-picker .image-picker-wrapper {
        margin: 5px 0;
        height: 100%;
    }

    #desk-details-div #main-image-wrapper #zoom-image-button {
        display: none;
    }

    #accessories-div #images-picker .image-picker-wrapper {
        margin: 5px 0;
        height: 100%;
    }

    #accessories-div #main-image-wrapper #zoom-image-button {
        display: none;
    }
}

.scratch-diagonal {
    background: linear-gradient(to left top, transparent 47.75%, red, red, transparent 52.25%);
}