body {
    padding-top: 50px;
    font-family: 'Nunito Sans', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Navbar */
.navbar {
    background: #222;
}

    .navbar .navbar-nav {
        background: none;
    }

        .navbar .navbar-nav li {
            height: 100%;
        }

        .navbar .navbar-nav a {
            vertical-align: middle;
            text-transform: uppercase;
        }


@media (min-width: 768px) {
    body {
        padding-top: 60px;
    }

    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }

    .navbar .navbar-nav a {
        line-height: 30px;
    }
}

.navbar .navbar-nav a.logo-menu {
    padding: 10px 20px;
}

    .navbar .navbar-nav a.logo-menu img {
        width: 36px;
        height: 40px;
    }

.navbar .navbar-collapse {
    text-align: center;
}

button.garvan-button {
    background: #222;
    border: 1px solid #222;
    color: #fefefe;
    text-transform: uppercase;
    height: 35px;
    min-width: 120px;
    font-size: 13px;
    vertical-align: top;
}

    button.garvan-button:hover {
        background: #262626;
        cursor: pointer;
    }


input {
    border: 1px solid #ddd;
    height: 35px;
    padding: 0 15px;
    width: 100%;
}

/* Footer */

footer {
    background: #222 !important;
    color: #fff;
}

    footer hr {
        border-color: #666;
        margin: 10px 0;
    }

    footer ul {
        list-style-type: none;
        padding-left: 0px;
    }

    footer li {
        padding: 5px 0;
        font-size: 12px;
    }

        footer li a, footer li a:active, footer li a:visited, footer li a:hover {
            color: #fff;
            text-decoration: none;
        }

            footer li a:hover {
                color: gray;
            }

    footer .footer-wrapper {
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }

    footer .footer-copyrights-wrapper {
        text-align: center;
        padding-bottom: 10px;
    }

    footer .footer-copyrights-wrapper, footer hr {
        color: #666;
    }

    footer a.fa {
        padding: 0 5px;
    }

/* Headers */
h4.sub-header {
    color: #17a297;
}

a.inside-link {
    color: #6ec5be;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
}

    a.inside-link:visited {
        color: #6ec5be;
        text-decoration: underline;
    }

div.partial-div {
    margin-bottom: 5px;
    margin-top: 5px;
    background: #f9f9f9;
}

    div.partial-div h2, div.partial-div h3 {
        font-weight: bold;
    }


#garvan-entertainment-div {
    background-color: #e3e3e3;
    height: 500px;
    display: flex;
    align-items: center;
}

    #garvan-entertainment-div img {
        height: 80%;
        width: 100%;
        max-width: 700px;
    }

    #garvan-entertainment-div .info-text-div {
        z-index: 100;
    }

        #garvan-entertainment-div .info-text-div div {
            float: right;
        }

        #garvan-entertainment-div .info-text-div h2 {
            font-size: 42px;
            padding-top: 0px;
        }

        #garvan-entertainment-div .info-text-div p {
            font-size: 20px;
        }

        #garvan-entertainment-div .info-text-div button {
            margin-top: 20px;
            height: 50px;
            width: 162px;
        }


    #garvan-entertainment-div div, #garvan-entertainment-div p, #garvan-entertainment-div h2 {
        padding: 0 5px;
    }

    #garvan-entertainment-div #garvan-entertainment-text > div {
        float: right;
        text-align: left;
    }

    #garvan-entertainment-div #garvan-entertainment-text h2 {
        margin-bottom: 0px;
    }

    #garvan-entertainment-div #garvan-entertainment-text p {
        margin-bottom: 20px;
    }

    #garvan-entertainment-div #garvan-entertainment-img img {
        max-width: 100%;
        max-height: 100%;
        height: inherit !important;
    }

#cable-monster-div, #specifications-div {
    display: flex;
    width: 100%;
}


#cable-monster-div {
    min-height: 500px;
}

    #cable-monster-div .img-container, #specifications-div .img-container {
        background: #222;
    }

        #cable-monster-div .img-container .table-wrapper, #specifications-div .img-container .table-wrapper {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            border: 0;
        }

            #cable-monster-div .img-container .table-wrapper td, #specifications-div .img-container .table-wrapper td {
                vertical-align: middle;
                text-align: center;
            }


        #cable-monster-div .img-container img,
        #specifications-div .img-container img {
            margin-left: auto;
            margin-right: auto;
            display: block;
            vertical-align: middle;
            width: 100%;
            max-width: 700px;
        }

    #cable-monster-div .text-container, #specifications-div .text-container {
        background: #f9f9f9;
    }

    #cable-monster-div .img-container img.desk-front-img {
        z-index: 1;
    }

    #cable-monster-div .img-container img.logo-img {
        z-index: 2;
        height: 50px;
        width: 46px;
        position: absolute;
        right: 0;
        bottom: 0;
        left: auto;
        top: auto;
        transform: none;
        margin-right: 15px;
        margin-bottom: 15px;
    }

    #cable-monster-div .text-container {
        padding: 15px 40px;
    }

        #cable-monster-div .text-container p {
            padding: 10px 0;
            z-index: 100;
        }

        #cable-monster-div .text-container img.bird-img {
            height: 200px;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

#specifications-div .text-container {
    padding-right: 40px;
}

    #specifications-div .text-container h3, #specifications-div .text-container h4 {
        padding-left: 25px;
    }

    #specifications-div .text-container table {
        margin-top: 35px;
    }

        #specifications-div .text-container table th {
            text-align: right;
            vertical-align: top;
            padding-right: 15px;
            font-weight: bold;
            width: 40%;
        }

        #specifications-div .text-container table td {
            text-align: left;
            vertical-align: top;
            padding-bottom: 10px;
        }


    #specifications-div .text-container .more-details-wrapper {
        padding: 10px 0;
        text-align: right;
    }

#subscribe-div {
    background: #17a297;
    padding: 20px 0;
    text-align: center;
    color: white;
    background-image: url('../images/garvan_logos/background_logo.png');
    margin-bottom: 0;
}

    #subscribe-div h3 {
        margin-top: 0px;
    }

    #subscribe-div .subscribe-input-wrapper {
        margin-top: 15px;
    }

        #subscribe-div .subscribe-input-wrapper input {
            color: black;
            width: 300px;
            height: 40px;
            border: 0;
        }

        #subscribe-div .subscribe-input-wrapper button.garvan-button {
            margin-left: -4px;
        }

        #subscribe-div .subscribe-input-wrapper input,
        #subscribe-div .subscribe-input-wrapper button.garvan-button {
            height: 40px;
        }

#distributors-div {
    text-align: center;
    padding: 50px 0;
    background-color: white;
}

    #distributors-div h4 {
        margin-bottom: 40px;
    }

        #distributors-div h4 a {
            text-transform: none;
        }

    #distributors-div #distributors-wrapper {
        min-height: 200px;
        margin: 0 auto;
        width: 60%;
    }


        #distributors-div #distributors-wrapper .distributor-logo-div {
            height: 150px;
            padding: 20px;
        }

            #distributors-div #distributors-wrapper .distributor-logo-div img {
                max-height: 50%;
                max-width: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }

/* Contacts */
#contacts-div {
    float: none;
}

.input-wrapper {
}

    .input-wrapper .input-label {
        display: block;
        padding-bottom: 5px;
    }


img.shine-img {
    height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    position: absolute !important;
    left: 0;
    top: 0;
}
