body {
    padding-top: 50px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Navbar */
.navbar {
    background: black;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

    .navbar .navbar-nav {
        background: black;
    }

        .navbar .navbar-nav li {
            height: 100%;
        }

        .navbar .navbar-nav a {
            vertical-align: middle;
            text-transform: uppercase;
            line-height: 25px;
        }

            .navbar .navbar-nav a.logo-menu {
                padding: 2px 20px;
            }

    .navbar .navbar-collapse {
        text-align: center;
    }

button.garvan-button {
    background: black;
    border: 1px solid #222;
    color: white;
    text-transform: uppercase;
    height: 35px;
    min-width: 120px;
    font-size: 13px;
    vertical-align: top;
}

    button.garvan-button:hover {
        background: #222;
        cursor: pointer;
    }


input {
    border: 0px;
    height: 35px;
    min-width: 300px;
    padding: 0 15px;
}

/* Footer */

footer {
    background: #222 !important;
    color: #ccc;
}

    footer hr {
        border-color: #444;
        margin: 10px;
    }

    footer ul {
        list-style-type: none;
        padding-left: 0px;
    }

    footer li {
        padding: 5px 0;
        font-size: 12px;
    }

        footer li a, footer li a:active, footer li a:visited, footer li a:hover {
            color: #ccc;
            text-decoration: none;
        }

            footer li a:hover {
                color: gray;
            }

    footer .footer-wrapper {
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }

    footer .footer-copyrights-wrapper {
        text-align: center;
        padding-bottom: 10px;
    }

    footer .footer-copyrights-wrapper, footer hr {
        color: #444;
    }

    footer a.fa {
        padding: 0 5px;
    }

/* Headers */
h4.sub-header {
    color: #50A273;
}

a.inside-link {
    color: #007253;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
}

    a.inside-link:visited {
        color: #007253;
        text-decoration: underline;
    }

div.partial-div {
    margin-bottom: 5px;
    margin-top: 5px;
    /*background: #eee;*/
}

    div.partial-div h2, div.partial-div h3 {
        font-weight: bold;
    }


#garvan-entertainment-div {
}

    #garvan-entertainment-div div, #garvan-entertainment-div p, #garvan-entertainment-div h2 {
        padding: 5px;
    }

    #garvan-entertainment-div #garvan-entertainment-text > div {
        float: right;
        text-align: left;
    }

    #garvan-entertainment-div #garvan-entertainment-text h2 {
        margin-bottom: 0px;
    }

    #garvan-entertainment-div #garvan-entertainment-text p {
        margin-bottom: 20px;
    }

    #garvan-entertainment-div #garvan-entertainment-img {
        float: left;
    }

#cable-monster-div, #specifications-div {
    display: table;
    width: 100%;
    height: 100%;
}

    #cable-monster-div .img-container, #specifications-div .img-container {
        display: table-cell;
        height: 100%;
        background: gray;
    }

    #cable-monster-div .text-container, #specifications-div .text-container {
        display: table-cell;
        background: white;
        height: 100%;
    }

    #cable-monster-div .text-container {
        padding: 15px 40px;
    }

        #cable-monster-div .text-container p {
            padding: 10px 0;
        }


    #specifications-div .text-container {
        padding-right: 40px;
    }

        #specifications-div .text-container h3, #specifications-div .text-container h4 {
            padding-left: 25px;
        }

        #specifications-div .text-container table {
            margin-top: 35px;
        }

            #specifications-div .text-container table th {
                text-align: right;
                vertical-align: top;
                padding-right: 15px;
                font-weight: bold;
                width: 40%;
            }

            #specifications-div .text-container table td {
                text-align: left;
                vertical-align: top;
                padding-bottom: 10px;
            }


        #specifications-div .text-container .more-details-wrapper {
            padding: 10px 0;
            text-align: right;
        }

#subscribe-div {
    background: #007253;
    padding: 20px 0;
    text-align: center;
    color: white;
}

    #subscribe-div h3 {
        margin-top: 0px;
    }

    #subscribe-div .subscribe-input-wrapper {
        margin-top: 15px;
    }

        #subscribe-div .subscribe-input-wrapper input {
            color: black;
        }

        #subscribe-div .subscribe-input-wrapper button.garvan-button {
            margin-left: -2px;
        }

#distributors-div {
    text-align: center;
    padding: 50px 0;
}

    #distributors-div h3 {
        margin-bottom: 40px;
    }

    #distributors-div #distributors-wrapper {
        min-height: 200px;
        margin: 0 auto;
        width: 60%;
    }


        #distributors-div #distributors-wrapper .distributor-logo-div {
            height: 150px;
            padding: 20px;
        }

            #distributors-div #distributors-wrapper .distributor-logo-div img {
                max-height: 50%;
                max-width: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
