<div id="cable-monster-div" class="partial-div partial-info-div">
    <div class="col-md-9 img-container">
    </div>
    <div class="col-md-3 text-container">
        <h3>The Cable monster</h3>
        <div>
            <p>
                A hundred years ago, he was only an idea. A beautiful idea and people believed in him. They used him with no questions and no doubt. In exchange he takes what he wants.
                As a plague cell, he wants only one thing, to grow and consume space and thus, create a place for its minions.
            </p>
            <p>
                That's how he managed to get to the home of each one of them. Sometimes people clean the bodies of a dead minions, but they never faced the real threat.
                He was smart and deadly.
                <br />
                Very few manage to resist him.
            </p>

            <a asp-page="/Story" class="inside-link">READ THE FULL STORY</a>
        </div>
    </div>
</div>