@model Garvan.Web.Pages.Partials.ChapterModel

@{
    if (Model == null)
    {
        return;
    }

    if (Model.ParagraphsTexts == null)
    {
        Model.ParagraphsTexts = new List<string>();
    }

    var firstParagraph = Model.ParagraphsTexts.FirstOrDefault();
    var firstParagraphFirstLetter = ' ';
    var firstParagraphRemaining = string.Empty;
    if (firstParagraph != null)
    {
        firstParagraphFirstLetter = firstParagraph[0];
        if (firstParagraph.Length > 1)
        {
            firstParagraphRemaining = firstParagraph.Remove(0, 1);
        }
    }

    var remainingParagraphs = new List<string>(Model.ParagraphsTexts);
    remainingParagraphs.RemoveAt(0);
}

<div class="story-text-wrapper">
    <h4>@Model.ChapterHeader</h4>

    <p>
        <span class="capitalized-letter">@firstParagraphFirstLetter</span>
        @firstParagraphRemaining
    </p>

    @foreach (var paragraph in remainingParagraphs)
    {
        <p>
            @paragraph
        </p>
    }

    @if (!string.IsNullOrWhiteSpace(Model.NextChapterDiv))
    {
        <a href="#@Model.NextChapterDiv" class="inside-link chapter-link">Next chapter</a>
    }
</div>