<div class="error-wrapper hidden">
    <button class="error-close-button"><i class="fa fa-close"></i></button>
    <div class="error-message-wrapper">
        <i class="fa fa-times-circle-o fa-2x error-sign"></i>
        <div class="error-message">Your e-mail is already registered</div>
    </div>
</div>