<div class="info-wrapper hidden">
    <button class="info-close-button"><i class="fa fa-close"></i></button>
    <div class="info-message-wrapper">
        <i class="fa fa-check-circle-o fa-2x info-sign"></i>
        <div class="info-message">
            Your e-mail was successfully registered.<br />
            Stay tuned for more Garvan news.
        </div>
    </div>
</div>