<div id="specifications-div" class="partial-div partial-info-div">
    <div class="col-md-4 text-container">
        <h3>@Resources.Specifications</h3>
        <h4 class="sub-header">@Resources.SpecificationsSubHeader</h4>

        @{await Html.RenderPartialAsync("Partials/SpecificationsTable", new Pages.Partials.SpecificationsTableModel() { IncludeAllSpecifications = false });}

        <div class="more-details-wrapper">
            <a asp-page="/DeskDetails" class="inside-link">@Resources.MoreDetails</a>
        </div>
    </div>
    <div class="col-md-8 img-container">
        <table class="table-wrapper">
            <tr>
                <td>
                    <img src="~/images/pictures/desk_top.png" />
                </td>
            </tr>
        </table>
        <img class="shine-img" src="~/images/pictures/shine.png" />
    </div>
</div>
