<div id="specifications-div" class="partial-div partial-info-div">
    <div class="col-md-4 text-container">
        <h3>Specifications</h3>
        <h4 class="sub-header">What makes the magic?</h4>
        <table>
            <tr>
                <th>Dimensions:</th>
                <td>1600x675x800 mm (63x26.6x31.5 in) (W x D x H)</td>
            </tr>
            <tr>
                <th>Material:</th>
                <td>Metal frame. Anodized aluminum (panel), tempered glass (tabletop)</td>
            </tr>
            <tr>
                <th>Weight:</th>
                <td>approx. 60 kg (132lbs)</td>
            </tr>
            <tr>
                <th>Color:</th>
                <td>Black</td>
            </tr>
            <tr>
                <th>Max. Load:</th>
                <td>200 kg (440lb)</td>
            </tr>
            <tr>
                <th>Front I/O:</th>
                <td>2xUSB3.0, Mic, Headphone, On/Off</td>
            </tr>
            <tr>
                <th>Form-Factor:</th>
                <td>Mini-ITX, Micro-ATX, ATX</td>
            </tr>
            <tr>
                <th>Power Supply:</th>
                <td>Standard ATX</td>
            </tr>
            <tr>
                <th>Expansion Slots:</th>
                <td>7</td>
            </tr>
            <tr>
                <th>Max. GPU Length:</th>
                <td>320 mm (12.6in)</td>
            </tr>
            <tr>
                <th>Max. CPU Cooler Height:</th>
                <td>180 mm (7.08")</td>
            </tr>
        </table>

        <div class="more-details-wrapper">
            <a href="#" class="inside-link">More details</a>
        </div>
    </div>
    <div class="col-md-8 img-container">
        <table class="table-wrapper">
            <tr>
                <td>
                    <img src="~/images/pictures/desk_top.png" />
                </td>
            </tr>
        </table>
        <img class="shine-img" src="~/images/pictures/shine.png" />
    </div>
</div>
