@page
@model Garvan.Web.Pages.Partials.SubscribePartialModel


<div id="subscribe-div" class="partial-div">
    <h3>
        @Resources.SubscribeToOurNewsletter:
    </h3>
    <h4>
        @Resources.AndDontMissCoolNewProductsAndSpecialOffers!
    </h4>
    <div class="subscribe-input-wrapper">
        <input type="text" placeholder="Enter your e-mail address..." />
        <button class="garvan-button">Subscribe</button>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
