@model Garvan.Web.Pages.Partials.SubscribePartialModel


<div id="subscribe-div" class="partial-div">
    <h3>
        @Resources.SubscribeToOurNewsletter.
    </h3>
    <h4>
        @Resources.AndDontMissCoolNewProductsAndSpecialOffers!
    </h4>
    <div class="subscribe-input-wrapper">
        <form class="subscribe-register-form">
            <input type="text" name="subscribe-email" class="email-subscribe-input" placeholder="Enter your e-mail address..." />
            <button type="submit" class="garvan-button subscribe-button">Subscribe</button>
        </form>
    </div>

    @{await Html.RenderPartialAsync("Partials/ErrorMessage");}

    @{await Html.RenderPartialAsync("Partials/InfoMessage");}

    @{await Html.RenderPartialAsync("Partials/LoadingWrapper");}
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
